<div>
    <h2>
        <span jhiTranslate="sympoApp.dossier.home.title">Dossiers</span>
        <button class="btn btn-primary float-right jh-create-entity create-dossier" [routerLink]="['/', { outlets: { popup: ['dossier-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="sympoApp.dossier.home.createLabel">
            Create new Dossier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sympoApp.dossier.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dossiers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numDossier"><span jhiTranslate="sympoApp.dossier.numDossier">Num Dossier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="sympoApp.dossier.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nomDossier"><span jhiTranslate="sympoApp.dossier.nomDossier">Nom Dossier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateCreation"><span jhiTranslate="sympoApp.dossier.dateCreation">Date Creation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedAt"><span jhiTranslate="sympoApp.dossier.updatedAt">Updated At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateCloture"><span jhiTranslate="sympoApp.dossier.dateCloture">Date Cloture</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarque"><span jhiTranslate="sympoApp.dossier.remarque">Remarque</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dossier.nomDossier"><span jhiTranslate="sympoApp.dossier.dossier">Dossier</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dossier of dossiers ;trackBy: trackId">
                <td><a [routerLink]="['../dossier', dossier.id ]">{{dossier.id}}</a></td>
                <td>{{dossier.numDossier}}</td>
                <td jhiTranslate="{{'sympoApp.EtatDossier.' + dossier.status}}">{{dossier.status}}</td>
                <td>{{dossier.nomDossier}}</td>
                <td>{{dossier.dateCreation | date:'mediumDate'}}</td>
                <td>{{dossier.updatedAt | date:'mediumDate'}}</td>
                <td>{{dossier.dateCloture | date:'mediumDate'}}</td>
                <td>{{dossier.remarque}}</td>
                <td>
                    <div *ngIf="dossier.dossier">
                        <a [routerLink]="['../cabinet', dossier.dossier?.id ]" >{{dossier.dossier?.nomDossier}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dossier', dossier.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dossier/'+ dossier.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dossier/'+ dossier.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="dossiers && dossiers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
