<div>
    <h2>
        <span jhiTranslate="sympoApp.crediteur.home.title">Crediteurs</span>
        <button class="btn btn-primary float-right jh-create-entity create-crediteur" [routerLink]="['/', { outlets: { popup: ['crediteur-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="sympoApp.crediteur.home.createLabel">
            Create new Crediteur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sympoApp.crediteur.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="crediteurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codeCrediteur"><span jhiTranslate="sympoApp.crediteur.codeCrediteur">Code Crediteur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="raisonSocial"><span jhiTranslate="sympoApp.crediteur.raisonSocial">Raison Social</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="raisonSocialArabe"><span jhiTranslate="sympoApp.crediteur.raisonSocialArabe">Raison Social Arabe</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rc"><span jhiTranslate="sympoApp.crediteur.rc">Rc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="patente"><span jhiTranslate="sympoApp.crediteur.patente">Patente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numTelephone"><span jhiTranslate="sympoApp.crediteur.numTelephone">Num Telephone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="sympoApp.crediteur.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adresse"><span jhiTranslate="sympoApp.crediteur.adresse">Adresse</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quartier"><span jhiTranslate="sympoApp.crediteur.quartier">Quartier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ville"><span jhiTranslate="sympoApp.crediteur.ville">Ville</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fax"><span jhiTranslate="sympoApp.crediteur.fax">Fax</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nomCrediteur"><span jhiTranslate="sympoApp.crediteur.nomCrediteur">Nom Crediteur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prenomCrediteur"><span jhiTranslate="sympoApp.crediteur.prenomCrediteur">Prenom Crediteur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activated"><span jhiTranslate="sympoApp.crediteur.activated">Activated</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarque"><span jhiTranslate="sympoApp.crediteur.remarque">Remarque</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="crediteur.nomCrediteur"><span jhiTranslate="sympoApp.crediteur.crediteur">Crediteur</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let crediteur of crediteurs ;trackBy: trackId">
                <td><a [routerLink]="['../crediteur', crediteur.id ]">{{crediteur.id}}</a></td>
                <td>{{crediteur.codeCrediteur}}</td>
                <td>{{crediteur.raisonSocial}}</td>
                <td>{{crediteur.raisonSocialArabe}}</td>
                <td>{{crediteur.rc}}</td>
                <td>{{crediteur.patente}}</td>
                <td>{{crediteur.numTelephone}}</td>
                <td>{{crediteur.email}}</td>
                <td>{{crediteur.adresse}}</td>
                <td>{{crediteur.quartier}}</td>
                <td>{{crediteur.ville}}</td>
                <td>{{crediteur.fax}}</td>
                <td>{{crediteur.nomCrediteur}}</td>
                <td>{{crediteur.prenomCrediteur}}</td>
                <td>{{crediteur.activated}}</td>
                <td>{{crediteur.remarque}}</td>
                <td>
                    <div *ngIf="crediteur.crediteur">
                        <a [routerLink]="['../dossier-instruction', crediteur.crediteur?.id ]" >{{crediteur.crediteur?.nomCrediteur}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../crediteur', crediteur.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'crediteur/'+ crediteur.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'crediteur/'+ crediteur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="crediteurs && crediteurs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
