<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDossierInstructionLabel" jhiTranslate="sympoApp.dossierInstruction.home.createOrEditLabel">Create or edit a Dossier Instruction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dossierInstruction.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dossierInstruction.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sympoApp.dossierInstruction.numInstruction" for="field_numInstruction">Num Instruction</label>
            <input type="text" class="form-control" name="numInstruction" id="field_numInstruction"
                [(ngModel)]="dossierInstruction.numInstruction" required minlength="1" maxlength="6"/>
            <div [hidden]="!(editForm.controls.numInstruction?.dirty && editForm.controls.numInstruction?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numInstruction?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numInstruction?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numInstruction?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 6 }">
                   This field cannot be longer than 6 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sympoApp.dossierInstruction.instruction" for="field_instruction">Instruction</label>
            <input type="text" class="form-control" name="instruction" id="field_instruction"
                [(ngModel)]="dossierInstruction.instruction" maxlength="100"/>
            <div [hidden]="!(editForm.controls.instruction?.dirty && editForm.controls.instruction?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.instruction?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sympoApp.dossierInstruction.supportInstruction" for="field_supportInstruction">Support Instruction</label>
            <input type="text" class="form-control" name="supportInstruction" id="field_supportInstruction"
                [(ngModel)]="dossierInstruction.supportInstruction" maxlength="100"/>
            <div [hidden]="!(editForm.controls.supportInstruction?.dirty && editForm.controls.supportInstruction?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.supportInstruction?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sympoApp.dossierInstruction.dateCreationInstruction" for="field_dateCreationInstruction">Date Creation Instruction</label>
            <div class="input-group">
                <input id="field_dateCreationInstruction" type="text" class="form-control" name="dateCreationInstruction" ngbDatepicker  #dateCreationInstructionDp="ngbDatepicker" [(ngModel)]="dossierInstruction.dateCreationInstruction"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateCreationInstructionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sympoApp.dossierInstruction.remarque" for="field_remarque">Remarque</label>
            <input type="text" class="form-control" name="remarque" id="field_remarque"
                [(ngModel)]="dossierInstruction.remarque" maxlength="100"/>
            <div [hidden]="!(editForm.controls.remarque?.dirty && editForm.controls.remarque?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.remarque?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sympoApp.dossierInstruction.dossierInstruction" for="field_dossierInstruction">Dossier Instruction</label>
            <select class="form-control" id="field_dossierInstruction" name="dossierInstruction" [(ngModel)]="dossierInstruction.dossierInstruction" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dossierOption.id === dossierInstruction.dossierInstruction?.id ? dossierInstruction.dossierInstruction : dossierOption" *ngFor="let dossierOption of dossiers; trackBy: trackDossierById">{{dossierOption.numInstruction}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
