<div>
    <h2>
        <span jhiTranslate="sympoApp.dossierInstruction.home.title">Dossier Instructions</span>
        <button class="btn btn-primary float-right jh-create-entity create-dossier-instruction" [routerLink]="['/', { outlets: { popup: ['dossier-instruction-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="sympoApp.dossierInstruction.home.createLabel">
            Create new Dossier Instruction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sympoApp.dossierInstruction.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dossierInstructions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sympoApp.dossierInstruction.numInstruction">Num Instruction</span></th>
            <th><span jhiTranslate="sympoApp.dossierInstruction.instruction">Instruction</span></th>
            <th><span jhiTranslate="sympoApp.dossierInstruction.supportInstruction">Support Instruction</span></th>
            <th><span jhiTranslate="sympoApp.dossierInstruction.dateCreationInstruction">Date Creation Instruction</span></th>
            <th><span jhiTranslate="sympoApp.dossierInstruction.remarque">Remarque</span></th>
            <th><span jhiTranslate="sympoApp.dossierInstruction.dossierInstruction">Dossier Instruction</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dossierInstruction of dossierInstructions ;trackBy: trackId">
                <td><a [routerLink]="['../dossier-instruction', dossierInstruction.id ]">{{dossierInstruction.id}}</a></td>
                <td>{{dossierInstruction.numInstruction}}</td>
                <td>{{dossierInstruction.instruction}}</td>
                <td>{{dossierInstruction.supportInstruction}}</td>
                <td>{{dossierInstruction.dateCreationInstruction | date:'mediumDate'}}</td>
                <td>{{dossierInstruction.remarque}}</td>
                <td>
                    <div *ngIf="dossierInstruction.dossierInstruction">
                        <a [routerLink]="['../dossier', dossierInstruction.dossierInstruction?.id ]" >{{dossierInstruction.dossierInstruction?.numInstruction}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dossier-instruction', dossierInstruction.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dossier-instruction/'+ dossierInstruction.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dossier-instruction/'+ dossierInstruction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
